@page
@model LoginModel

@{
    ViewData["Title"] = "Registrati!";
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h2>Inserisci le credenziali</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <label asp-for="Input.Password" class="form-label"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div class="form-check mb-3">
                    <input class="form-check-input" asp-for="Input.RememberMe" />
                    <label asp-for="Input.RememberMe" class="form-check-label">
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>

                <div class="mb-3">
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Accedi</button>
                </div>

                <ul class="mb-3" >
                    <li>
                        <a id="forgot-password" asp-page="./ForgotPassword" >Hai dimenticato la password?</a>
                    </li>
                    <li>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" >Registrati come nuovo utente</a>
                    </li>
                    <li>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation" >Rinvia la conferma email</a>
                    </li>
                </ul>
            </form>
        </section>
    </div>

    <div class="col-md-6 offset-md-2">
        <section>
            <h3>Utilizza un altro servizio per accedere.</h3>
            <hr />

            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            Non ci sono servizi di autenticazione esterni configurati. Vedi questo <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                articolo
                                su come configurare questa applicazione ASP.NET per supportare l'accesso tramite servizi esterni
                            </a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Accedi utilizzando il tuo account @provider.DisplayName">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
